.bg-img1 {
  background-image: url("./image/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-img2 {
  background-image: url("./image/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-img3 {
  background-image: url("./image/image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.animate-spin-slow {
  animation: spinSlow 8s linear infinite;
}
@keyframes spinSlow {
  from { transform: rotate(0deg); transform-origin: 150px 200px; }
  to { transform: rotate(360deg); transform-origin: 150px 200px; }
}



.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% { opacity: 0.4; }
  100% { opacity: 1; }
}

