@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: sans-serif;
  background-color: #111111;
}

:root {
   --primary-color: #4f46e5;
  --secondary-color: #facc15;
}